<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRUEFALSE</key>
	<array>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Comezon</string>
			<key>answer</key>
			<false/>
		</dict>
	</array>
	<key>CHECKLIST</key>
	<array>
		<dict>
			<key>question</key>
			<string>Seleccione las preguntas que son agudas y les falta acento</string>
			<key>words</key>
			<array>
				<dict>
					<key>word</key>
					<string>Accion</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Dominar</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Computadora</string>
					<key>correct</key>
					<false/>
				</dict>
				<dict>
					<key>word</key>
					<string>Portugues</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Aleman</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Lapiz</string>
					<key>correct</key>
					<false/>
				</dict>
				<dict>
					<key>word</key>
					<string>Cancion</string>
					<key>correct</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>RELATE</key>
	<array>
		<dict>
			<key>question</key>
			<string>Relaciona las palabras con la terminación correcta</string>
			<key>left</key>
			<array>
				<dict>
					<key>index</key>
					<integer>0</integer>
					<key>value</key>
					<string>Angui</string>
				</dict>
				<dict>
					<key>index</key>
					<integer>1</integer>
					<key>value</key>
					<string>Oja</string>
				</dict>
			</array>
			<key>right</key>
			<array>
				<dict>
					<key>index</key>
					<integer>0</integer>
					<key>value</key>
					<string>la</string>
				</dict>
				<dict>
					<key>index</key>
					<integer>1</integer>
					<key>value</key>
					<string>lá</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
