<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRUEFALSE</key>
	<array>

		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Comezon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Adicción</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Adíos</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Estres</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Algún</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Fránces</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Así</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Mama</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Cortés</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Menú</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Esquí</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Edredon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Admísion</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Rubí</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Sálmon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Tambien</string>
			<key>answer</key>
			<false/>
		</dict>
		 <dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Sofá</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Telévision</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Maní</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Limon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Tibúron</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>José</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Cafe</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Jámas</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Japonés</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>León</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Tomas</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Mísion</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Cómun</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Maíz</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Ocasión</string>
			<key>answer</key>
			<true/>
		</dict>

	</array>

	<key>CHECKLIST</key>
	<array>
		<dict>
			<key>question</key>
			<string>Seleccione las preguntas que son agudas y les falta acento</string>
			<key>words</key>
			<array>
				<dict>
					<key>word</key>
					<string>Accion</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Dominar</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Computadora</string>
					<key>correct</key>
					<false/>
				</dict>
				<dict>
					<key>word</key>
					<string>Portugues</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Aleman</string>
					<key>correct</key>
					<true/>
				</dict>
				<dict>
					<key>word</key>
					<string>Lapiz</string>
					<key>correct</key>
					<false/>
				</dict>
				<dict>
					<key>word</key>
					<string>Cancion</string>
					<key>correct</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>RELATE</key>
	<array>
		<dict>
			<key>question</key>
			<string>Relaciona las palabras con la terminación correcta</string>
			<key>left</key>
			<array>
				<dict>
					<key>index</key>
					<integer>0</integer>
					<key>value</key>
					<string>Angui</string>
				</dict>
				<dict>
					<key>index</key>
					<integer>1</integer>
					<key>value</key>
					<string>Oja</string>
				</dict>
			</array>
			<key>right</key>
			<array>
				<dict>
					<key>index</key>
					<integer>0</integer>
					<key>value</key>
					<string>la</string>
				</dict>
				<dict>
					<key>index</key>
					<integer>1</integer>
					<key>value</key>
					<string>lá</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
