<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRUEFALSE</key>
	<array>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Comezon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Adicción</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Adíos</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Estres</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Algún</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Fránces</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Así</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Mama</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Cortés</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Menú</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Esquí</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Edredon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Admísion</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Rubí</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Sálmon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Tambien</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Sofá</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Telévision</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Maní</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Limon</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Tibúron</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>José</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Cafe</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Jámas</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Japonés</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>León</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Tomas</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Mísion</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Cómun</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Maíz</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Ocasión</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Ayer</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Genéral</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Explotar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Ampliar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Amár</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Gritar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Gustar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Entrar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Rezár</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Sentar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Sentir</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Salir</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Saltar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Monitor</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Títular</string>
			<key>answer</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Trabajar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Mental</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Jugar</string>
			<key>answer</key>
			<true/>
		</dict>
		<dict>
			<key>question</key>
			<string>¿La siguiente palabra está bien acentuada?</string>
			<key>word</key>
			<string>Mundíal</string>
			<key>answer</key>
			<false/>
		</dict>
	</array>
	<key>CHECKLIST</key>
	<array>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>exteriormente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>abaco</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>terricola</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>esceptico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>medicinalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>glucidos</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>pajaro</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>horizontalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>geologico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>vomito</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>atrozmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>fantastico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>audazmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>sarcastico</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>cronicas</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>oceano</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>ortografico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>celula</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>heterogeneo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>locuazmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>rucula</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>telefono</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>afonico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>comercialmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>tunica</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>fisica</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>deposito</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>curcuma</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>zodiaco</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>parroco</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>drastico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>libelula</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>conyuge</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>psiquica</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>interiormente</string>
                    <key>correct</key>
                    <false/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>familiarmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>picaro</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>estetico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>camaras</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>fecula</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>america</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>ridiculo</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>romantico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>penultimo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>termino</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>arboles</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>originalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>antibiotico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>fatalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>humanistico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>relampago</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>caratula</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>utopico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>deficit</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>ceramica</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>pelicula</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>polvora</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>velozmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>hipodromo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>neutralmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>graficas</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>verticalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>brocoli</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>fonetica</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>obstaculo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>inequivoco</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>satelites</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>ejercito</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>aromatico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>celebre</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>nanometro</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>sabado</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>fabula</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>caoticos</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>piramides</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>logico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>legalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>socialmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>tentaculos</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>popularmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>oxigeno</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>cordialmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>rectangulo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>centimetro</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>regularmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>jurasico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>suspicazmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>cabalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>sepalo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>estadistico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>humoristico</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>vertigo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>economico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>circulo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>platano</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>quimica</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>ilegalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>parentesis</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>arandano</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>brotola</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>clasico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>aromaticas</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>logica</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>pagina</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>rabano</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>simpatico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>escualido</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>comicos</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>satanico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>opcionalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>ultimo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>geografico</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>heroe</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>principalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>extasis</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>maquina</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>atletico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>perpendicularmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>vandalo</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>fenomenalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>vertice</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>angulo</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>quimico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>academico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>calido</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>igualmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>plastico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>fanatico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>brocoli</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>copula</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>arabe</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>abismalmente</string>
                    <key>correct</key>
                    <false/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>ecologico</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>
        <dict>
            <key>question</key>
            <string>Seleccione las preguntas que son esdrújulas cómo se pronuncia y les falta acento</string>
            <key>words</key>
            <array>
                <dict>
                    <key>word</key>
                    <string>higado</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>recondito</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>magico</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>palido</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>tentaculos</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>vibora</string>
                    <key>correct</key>
                    <true/>
                </dict>
                <dict>
                    <key>word</key>
                    <string>milimetro</string>
                    <key>correct</key>
                    <true/>
                </dict>
            </array>
            </dict>

    </array>
	<key>RELATE</key>
	<array>
		<dict>
			<key>question</key>
			<string>Relaciona las palabras con la terminación correcta</string>
			<key>left</key>
			<array>
				<dict>
					<key>index</key>
					<integer>0</integer>
					<key>value</key>
					<string>Angui</string>
				</dict>
				<dict>
					<key>index</key>
					<integer>1</integer>
					<key>value</key>
					<string>Oja</string>
				</dict>
			</array>
			<key>right</key>
			<array>
				<dict>
					<key>index</key>
					<integer>0</integer>
					<key>value</key>
					<string>la</string>
				</dict>
				<dict>
					<key>index</key>
					<integer>1</integer>
					<key>value</key>
					<string>lá</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
